{% extends 'base.html' %}
{% block content %}
<h1>Students</h1>
<form method="post" action="/students/add" class="row g-3">
  <div class="col-md">
    <input name="first_name" placeholder="First name" class="form-control">
  </div>
  <div class="col-md">
    <input name="last_name" placeholder="Last name" class="form-control">
  </div>
  <div class="col-md">
    <input name="student_number" placeholder="Student number" class="form-control">
  </div>
  <div class="col-md">
    <input name="email" placeholder="Email" class="form-control">
  </div>
  <div class="col-md-auto">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
<ul class="list-group mt-3">
{% for s in students %}
  <li class="list-group-item">
    {{ s['first_name'] }} {{ s['last_name'] }} ({{ s['student_number'] }})
    <a href="/students/{{ s['id'] }}/edit" class="btn btn-secondary btn-sm ms-2">Edit</a>
    <form method="post" action="/students/{{ s['id'] }}/delete" class="d-inline">
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
    <a href="/students/{{ s['id'] }}/enrollments" class="btn btn-link btn-sm">Enrollments</a>
    <a href="/progress?student_id={{ s['id'] }}" class="btn btn-link btn-sm">Progress</a>
    <a href="/students/{{ s['id'] }}/grades" class="btn btn-link btn-sm">Grades</a>
  </li>
{% endfor %}
</ul>
{% endblock %}
