{% extends 'base.html' %}
{% block content %}
<h1>Edit Teacher</h1>
<form method="post" class="row g-3">
    <div class="col-md">
        <input name="first_name" value="{{ teacher['first_name'] }}" class="form-control">
    </div>
    <div class="col-md">
        <input name="last_name" value="{{ teacher['last_name'] }}" class="form-control">
    </div>
    <div class="col-md">
        <input name="email" value="{{ teacher['email'] or '' }}" class="form-control">
    </div>
    <div class="col-md-auto">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}
