{% extends 'base.html' %}
{% block content %}
<h1>Teachers</h1>
<form method="post" action="/teachers/add" class="row g-3">
  <div class="col-md">
    <input name="first_name" placeholder="First name" class="form-control">
  </div>
  <div class="col-md">
    <input name="last_name" placeholder="Last name" class="form-control">
  </div>
  <div class="col-md">
    <input name="email" placeholder="Email" class="form-control">
  </div>
  <div class="col-md-auto">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for t in teachers %}
    <tr>
      <td><a href="/teachers/{{ t['id'] }}">{{ t['first_name'] }} {{ t['last_name'] }}</a></td>
      <td>{{ t['email'] or '' }}</td>
      <td>
        <a href="/teachers/{{ t['id'] }}/edit" class="btn btn-secondary btn-sm">Edit</a>
        <form method="post" action="/teachers/{{ t['id'] }}/delete" class="d-inline">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
